<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navigation.ejs') %>
    <div class="notes content" >
        <h1 >Home</h1>
        <% if (allNotes.length > 0) { %>
        <% allNotes.forEach((i)=>{ %>
                    
            <a href="/home/<%= i._id %>">
            <h3><%= i.title %></h3>
            <p><%= i.body %></p>
            </a>
        <% }) %>
        <% } else { %>
            <h3>NO NOTES FOUND</h3>
        <% }%>
    </div>
</body>
</html>